.App {
  text-align: center;
  width: 500px;
  margin: 20px auto;
  border: 1px solid #eee;
}

.App h1 {
  text-align: center;
}
.App .header {
  display: flex;
  align-items: flex-end;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}
.App .header input {
  margin-left: 15px;
  font-size: 20px;
  width: 100%;
  border: 0;

}
.App .header input:focus {
  outline: none;
}
